@model Client.Models.DictionaryItem
<form asp-action="Save" asp-route-id="@Model.Id" class="bg-light p-3 rounded-bottom border border-top-0"
    style="border-color: #dee2e6" asp-route-isDescription="true" asp-route-isShort="@Model.IsShort"
    asp-route-partOfSpeech="@Model.PartOfSpeech" asp-route-kind="@Model.Kind"
    asp-route-number="@Model.Number" asp-route-case="@Model.Case"
    asp-route-person="@Model.Person" asp-route-time="@Model.Time"
    asp-route-form="@Model.Form" asp-route-degree="@Model.Degree"
    asp-route-animality="@Model.Animality">
    <div class="row">
        <div class="col-xl-7">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="word" placeholder="example" asp-for="Word" required>
                <label for="word" asp-for="Word">Слово</label>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" checked="@Model.IsWordform" id="isWordform"
                    asp-for="IsWordform">
                <label class="form-check-label" for="isWordform" asp-for="IsWordform">
                    Словоформа
                </label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-2">
        <textarea class="form-control" placeholder="Text" id="word" style="height: 256px;resize: none;"
            asp-for="Description"></textarea>
        <label for="word" asp-for="Description">Морфологическая информация</label>
    </div>
    <div class="form-group d-grid gap-2">
        <button type="submit" class="btn btn-primary">Сохранить слово</button>
    </div>
</form>