@using Client.Models
@model IEnumerable<DictionaryItem>
@{
    ViewBag.Title = "Словарь";
}

<div class="bg-light p-3 mb-2 rounded border" style="border-color: #dee2e6">
    <div class="row justify-content-between align-items-center">
        <div class="col-xl-3">
            <h1>Словарь:</h1>
        </div>
        <div class="col-xl-6">
            <form asp-action="">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-xl-3">
                        <div class="form-group d-grid gap-2">
                            <button type="submit" class="btn btn-outline-dark" type="button" disabled>Загрузить</button>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" required disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-3 d-flex justify-content-end">
            <a class="btn btn-outline-dark mx-2 disabled" asp-action="">Сохранить</a>
            <a class="btn btn-outline-warning disabled" asp-action="">Помощь</a>
        </div>
    </div>
</div>

@foreach (DictionaryItem item in Model)
{
    <div class="bg-light p-3 rounded mb-2 border" style="border-color: #dee2e6">
        <h3>@item.Word</h3>
        <div class="row">
            <div class="col-8 offset-1">
                <p>
                    @if (item.IsWordform)
                    {
                        @:Слово является словоформой<br>

                    }
                    @if (item.Frequency != 0)
                    {
                        @:Частота встречаемости: @item.Frequency<br>

                    }
                    @if (item.IsDescription)
                    {
                    <pre>@item.Description</pre>
                    }
                    else
                    {
                    @:Часть речи: @item.PartOfSpeech<br>
                    @:Род: @item.Kind<br>
                    @:Число: @item.Number<br>
                    @:Падеж: @item.Case<br>

                        if (item.IsShort)
                        {
                        @:Слово краткое<br>

                        }
                    @:Лицо: @item.Person<br>
                    @:Время: @item.Time<br>
                    @:Вид: @item.Form<br>
                    @:Степень сравнения: @item.Degree<br>
                    @:Одушевленность: @item.Animality<br>

                    }
                </p>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a class="btn btn-success mx-2" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
            <a class="btn btn-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Удалить</a>
        </div>
    </div>
}